* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
header {
    width: 100%;
    height: 90px;
    background-color: #1c2624;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header-h1 {
    margin: 0;
}
.header-h1-a {
    text-decoration: none;
    color: black;
    padding-left: 20px;
    color: whitesmoke;
}
.active {
    color: red;
}
.links {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}
.p-recipe-form {
    padding-right: 5px;
    text-decoration: none;
    color: white;
}
.p-recipe-form:hover {
    color: #d9c5a0;
}

.p-shopping-cart {
    padding-left: 5px;
    text-decoration: none;
    color: white;
}
.p-shopping-cart:hover {
    color: #d9c5a0;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}


/****** Category List ********/
.categories-list {
    margin-right: 20px;
    padding-right: 10px;
    border-right: 2px solid black;
}
.categories-list ul {
    list-style-type: none;
}
.categories-list ul li {
    font-size: 1.5rem;
    padding: 5px 0;
}
.categories-list ul li:hover {
    cursor: pointer;
}
.category-select {
    width: fit-content;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    background-color: #592418;
    color: white;
    border: 1px solid #592418;
}


/****** Recipes List ********/
.recipes-list {
    /* REPEAT */
}
.recipe {
    width: 700px;
    margin-left: 15px;
    margin-bottom: 20px;
    background-color: #1c2624;
    padding: 25px;
    border-radius: 10px;
}
.recipe-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.recipe-header h2 {
    color: white;
}
.recipe-header p {
    color: #bf861b;
    padding-top: 5px;
}
.recipe .description {
    margin-left: 10px;
}
.rating-div {
    display: flex;
    flex-direction: row;
}
.description {
    color: white;
    border: 1px solid white;
    padding: 15px;
    border-radius: 10px;
}
.li-list-ingredient {
    margin: 5px 0;
}
.ingredient-list {
    margin-left: 10px;
    margin-top: 10px;
    color: white;
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
}
.ingredient-list h3 {
    color: white;
}
.ingredient-list ul {
    list-style-type: none;
    margin-left: 10px;
}
.edit-ingredient {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    margin: 7px 0;
}
.new-ingredient-title {
    height: 20px;
    border-radius: 5px;
    padding: 5px;
    color: #a64d2d;
    border: 2px solid #a64d2d;
    margin-right: 10px;
}
.new-ingredient-amount {
    height: 20px;
    border-radius: 5px;
    padding: 5px;
    color: #a64d2d;
    border: 2px solid #a64d2d;
    margin-right: 10px;
}
.add-new-ingredient-button {
    height: 34px;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px #1C2624;
    background-color: #BF4124;
    color: white;
    border: 1px solid #BF4124;
}
.delete-ingredient-button {
    margin: 0 15px;
    width: 20px;
    border-radius: 10px;
    background-color: #a64d2d;
    color: white;
    border: 1px solid #a64d2d;
}
.delete-ingredient-button:hover {
    background-color: red;
}
.show-ingredient-button {
    height: 30px;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px #1C2624;
    background-color: #BF4124;
    color: white;
    border: 1px solid #BF4124;
}
.recipe-shopping-select {
    width: fit-content;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    background-color: #592418;
    color: white;
    border: 1px solid #592418;
}
.recipe-shopping-div {
    margin: 15px 0 0 20px;
}
.recipe-shopping-button {
    width: fit-content;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    background-color: #BF4124;
    color: white;
    border: 1px solid #BF4124;
    margin-left: 10px;
}
.new-category-input {
    width: 100%;
    border: 1px solid #0d0d0d;
    border-radius: 3px;
    height: 26px;
    padding-left: 5px;
    color: #592418;
    margin-bottom: 5px;
}
.add-category-button {
    width: 50px;
    color: white;
    background-color: #BF4124;
    border-radius: 5px;
    height: 25px;
}
.delete-recipe-button {
    margin-top: 30px;
    width: fit-content;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    background-color: crimson;
    color: white;
    border: 1px solid crimson;
    margin-left: 20px;
}
.delete-recipe-button:hover {
    background-color: red;
}


/****** Shopping List ********/
.main-container {
    width: 90%;
    margin: 0 auto;
}
.add-shopping-list {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.add-shopping-list-button {
    width: 50px;
    height: 30px;
    background-color: #BF4124;
    color: white;
    border-radius: 7px;
    font-size: 1.3rem;
}
.add-shopping-list-button:hover {
    background-color: #59241b;
}
.all-shopping-lists {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.shopping-list {
    width: 300px;
    margin: 30px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 15px;
    background-color: #a64d2d;
    color: white;
    display: flex;
    flex-direction: column;
}
.shopping-list-new {
    width: 300px;
    margin: 30px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 15px;
    background-color: #a64d2d;
    color: white;
    display: flex;
    flex-direction: column;
}
.shopping-list h3 {
    text-align: center;
}

.list-ingredient-element {
    display: flex;
    margin-bottom: 8px;
}
.dash-text {
    padding: 0 5px;
}

.delete-ingredient-from-shopping-list {
    background-color: #592418;
    color: white;
    margin-left: 8px;
    border-radius: 10px;
    width: 23px;
    height: 23px;
}
.delete-ingredient-from-shopping-list:hover {
    background-color: red;
    color: white;
}

.complete-button {
    color: white;
    background-color: #bf861b;
    padding: 0 4px;
    margin-left: 8px;
}

.hover-delete-button {
    width: 200px;
    background-color: #BF4124;
    color: white;
}
.hover-delete-button:hover {
    background-color: red;
}
.add-ingredient-button {
    width: 150px;
    margin-bottom: 20px;
    background-color: #d9c5a0;
}
.second-add-ingredient-button {
    width: 150px;
    margin-bottom: 20px;
    background-color: #d9c5a0;
}
.add-ingredient-button-real {
    width: 50px;
    background-color: #d9c5a0;
}


/****** RECIPE FORM ********/
.main-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-message {
    margin-top: 30px;
    color: green;
}

.form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 40px;
    border: 2px solid red;
    padding: 30px;
    border-radius: 10px;
    background-color: #59241b;
    color: white;
}

#rating {
    width: 40px;
    margin-bottom: 15px;
    background-color: #bf861b;
}

#category {
    width: 120px;
    margin-bottom: 20px;
    background-color: #bf861b;
}

.ingredient-add {
    margin-bottom: 5px;
}

.form-ingredient-li {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.submit-button {
    background-color: #d9c5a0;
}

